.Tasks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vw;
}

.tasks__allmonths {
  display: flex;
  justify-content: space-evenly;
}

.tasks__month {
  width: 30%;
  margin: 0.2rem;
  padding: 0.1rem;
  background-color: transparent;
  border-radius: 15px;
}

.tasks__scroller--btn {
  appearance: button;
  height: 30vh;
  width: 5vh;
  border: none;
  border-radius: 10px;
  background-color: var(--oxford-blue);
  color: var(--cultured);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  cursor: pointer;
}
.tasks__scroller--btn:hover {
  background-color: var(--blue-pantone);
}

@media only screen and (max-width: 600px) {
  .tasks__allmonths {
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
  .tasks__month {
    width: 80%;
  }
}
