.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    color: var(--primaryDark);
  }
}

.sortingButtons {
  color: var(--primaryDark);
  text-align: center;
  div {
    margin: 0.5em;
  }
  label {
    color: var(--primaryDark);
  }
  input {
    width: 1em;
    height: 1em;
  }
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .sortingButtons {
    display: flex;
    justify-content: center;
  }
}
