.scroll-btn {
  appearance: button;
  height: 30vh;
  width: 5vh;
  border: none;
  border-radius: 10px;
  background-color: var(--primaryDark);
  color: var(--primaryWhite);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  cursor: pointer;
}

.scroll-btn:hover {
  background-color: var(--secondaryDark);
}

.scroll-btn[disabled]:hover {
  background-color: var(--primaryDark);
  cursor: default;
}

.scroll-btn:disabled {
  opacity: 40%;
}

.scroll-btn__back {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
