@import '../../../common/layout.scss';

.footer {
  @include column;
  height: 222px;
  color: var(--primaryWhite);
}

.PlantList__sort--btn {
  display: inline-block;
  border: none;
  border-style: hidden;
  text-decoration: none;
  background: #eec643;
  color: #000000;
  font-size: large;
  height: 3em;
  margin: 0.5em;
  border-radius: 15px;
}

.PlantList__sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .PlantList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-rows: repeat(auto-fill, 25vh);
  }
}
