.plantItem {
  display: flex;
  background-size: cover;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px rgba(88, 88, 88, 0.664))
    drop-shadow(-1px -1px 0 rgba(88, 88, 88, 0.664));
  margin: 5% 10%;
  min-height: 8em;
}

.PlantItem__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 40%;
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.692);
}

.PlantItem__text a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 200ms;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}
.PlantItem__text a:hover {
  opacity: 60%;
}

.PlantItem__text img {
  height: 3em;
  display: inline-block;
}
.PlantItem__text p {
  font-style: italic;
}

.PlantItem__btn {
  font-size: large;
  font-weight: bold;
  border-radius: 50%;
  font-weight: bold;
  color: var(--primaryWhite);
  position: absolute;
  top: -5%;
  right: -5%;
  /* width: 20%; */
}

.PlantItem__save {
  background-color: var(--primaryDark);
}

.PlantItem__remove {
  background-color: var(--primaryHighlight);
  color: black;
}

.PlantItem__btnDiv {
  width: 60%;
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .plantItem {
    margin: 4%;
  }
}
