:root {
  --primaryHighlight: rgb(242, 238, 204);
  --secondaryHighlight: rgb(241, 144, 144);
  --primaryDark: rgb(110, 0, 0);
  --secondaryDark: rgb(0, 45, 36);
  background-color: rgb(250, 249, 237);
  background-size: cover;
}
/* CSS HEX
https://coolors.co/efc743-141414-eef0f2-0d21a1-011638
*/

.content {
  margin-top: 4em;
}

footer {
  color: var(--primaryDark);
}
