@import '../../../common/layout.scss';

.WeatherDetails {
  @include column;
  color: var(--primaryWhite);
}

.WeatherDetails__text {
  text-align: center;
  width: 50%;
}

.WeatherDetails__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  a {
    color: var(--primaryHighlight);
    transition: all 200ms;
  }
  a:hover {
    opacity: 50%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .WeatherDetails__text {
    width: 5em;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
