@import '../../common/layout.scss';

.scroll-btn__back {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* for desktop/laptop */
@media only screen and (min-width: 600px) {
  .PlantList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 25vh);
  }
}
