@import '../../../common/layout.scss';

.container {
  @include column;
  padding: 0.5rem 1rem;
}

.firstRow {
  @include row;
  gap: 1rem;
}

.numericData {
  @include column;
  justify-content: space-evenly;
}
