.Navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s; /* Transition on scroll */
  background-color: var(--primaryHighlight);
  z-index: 1;
}

.navElement {
  background-color: var(--primaryHighlight);
  font-weight: bold;
  font-size: larger;
  padding: 0 5px;
  border-radius: 5px;
  color: var(--primaryDark);
  text-decoration: none; /* no underline */
  transition: all 0.2s, box-shadow 0.08s ease-in;
}

.NavLink:hover {
  background-color: var(--secondaryDark);
  color: var(--primaryDark);
}

.Navbar__appLinks {
  height: 100%;
  float: left;
}

.login-warning {
  text-align: center;
  height: 1rem;
  text-decoration: double;
  color: var(--primaryDark);
  margin-top: 1rem;
  padding-bottom: 0.5em;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .login-warning {
    margin-top: 1em;
  }
}
