// font sizes

h1 {
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

button,
input {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}
